@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rumpus";
  src: url("/fonts/ufonts.com_rumpus.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* @font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/PatrickHand-Regular.ttf") format("truetype");
} */

@font-face {
  font-family: "Exo2-Medium";
  src: url("/fonts/Exo2-Medium.ttf") format("truetype");
}
/* @font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
} */

/* Reset Styles */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
body {
  margin: 0;
  line-height: inherit;
  background: #1a1a1a;
}
hr {
  height: 1px;
  color: inherit;
  background-color: currentColor;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
